### The map() Function in Python

The map() function applies a given function to all items in an input list(or any other iterable) and returns a map object(an iterator). This is particularly used for transforming data in a list comprehensively.

In [2]:
def square(x):
    return x ** 2
square(5)

25

In [4]:
numbers = [1, 2, 3, 4, 5]
list(map(square, numbers))

[1, 4, 9, 16, 25]

In [5]:
## Lambda function with map
number = [1, 2, 3, 4, 5, 6]
list(map(lambda x: x**2, number))

[1, 4, 9, 16, 25, 36]

In [6]:
number1 = [1, 2, 3, 4]
number2 = [5, 6, 7, 8]
added_numbers = list(map(lambda x, y: x + y, number1,number2))
print(added_numbers)

[6, 8, 10, 12]

In [7]:
## map() to convert a list of strings to integer
# use map() to convert string to integer
str_numbers = ['1', '2', '3', '4']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [8]:
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [9]:
def get_name(person):
    return person['name']
people = [
    {'name': 'alice', 'age': 30},
    {'name': 'bob', 'age': 25},
]
list(map(get_name, people))

['alice', 'bob']