In [1]:
a = 10
b = 5
add_result =a+b
sub_result = a-b
mult_result = a*b
div_result = a/b
modulus_result = a%b

exponent_result = a**b

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
0
100000

### Logical Operator

In [8]:
x = False
y = False

result = x or y
print(result)

False

### List

In [2]:
names = ["Alice", "Bob", "Charlie"]
print(names)

['Alice', 'Bob', 'Charlie']

In [4]:
print(names[0])
print(names[-1])

Alice
Charlie

In [7]:
print(names[1:])
print(names[0:3])

['Bob', 'Charlie']
['Alice', 'Bob', 'Charlie']

## Touples

In [9]:
lit = list()
print(type(lit))

<class 'list'>

In [12]:
## Accessing Tuple Elements
numbers = (1, 2, 3, 4, 5)
print(numbers[0])
print(numbers[-1])

1
5

In [18]:
numbers[0:4]

(1, 2, 3, 4)

In [17]:
numbers[::]

(1, 2, 3, 4, 5)

In [19]:
mixed_touple = (1, "Hello", 3.14, True)
print(mixed_touple)

(1, 'Hello', 3.14, True)

In [20]:
## Touples Operations
concatenation_touple = numbers + mixed_touple
print(concatenation_touple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [21]:
mixed_touple *3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [23]:
## Immutable nature of tuples
mixed_touple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Packing and unpacking tuple
packed_touple = 1, "hello", 3.14
print(packed_touple)

(1, 'hello', 3.14)

In [26]:
## Unpacked tuple
a,b,c = packed_touple
print(a)
print(b)
print(c)

1
hello
3.14

In [27]:
## Unpacking with *
numbers = 1, 2, 3, 4, 5, 6
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [31]:
## Nested touples
lst = [[1, 2, 3], [4, 5, 6], ("hello", 8, 9)]
lst[2][0:3]

('hello', 8, 9)

In [ ]:
## Nested Tuples
nested_touple = ((1, 2), (3, 4), ("hello", 3, 5))
print(nested_touple[2])  # Accessing the inner tuple (3,

('hello', 3, 5)

In [38]:
## Iterating over nested tuples
for sub_tuple in nested_touple:
    for item in sub_tuple:
        print(item, end=' ')
    print()  # New line after each inner tuple

1 2
3 4
hello 3 5