In [1]:
import sqlite3

In [2]:
# Connect to an SQLite database
Connection=sqlite3.connect('example.db')
Connection

In [3]:
# cursor create korchi because eta iterrate korbe table column row te
cursor=Connection.cursor()

In [4]:
# Create a Table
cursor.execute('''
Create Table If Not Exists Students(
    id Integer Primary Key,
    nam Text Not Null,
    age Integer Not Null,
    grade Text Not Null
    )
''')
# Commit the Changes
Connection.commit()

In [5]:
cursor.execute('''
Select * from Students''')

In [14]:
# Insert Data in Table
cursor.execute('''
Insert Into Students(nam,age,grade)
values('Yash',20,'A')               
''')

cursor.execute('''
Insert Into Students(nam,age,grade)
values('Ritam',21,'A+')               
''')

cursor.execute('''
Insert Into Students(nam,age,grade)
values('Sayan',22,'AA')               
''')

# Commit the Changes
Connection.commit()

In [15]:
# Query the data from the table
cursor.execute('Select * from Students')
rows=cursor.fetchall()

# Print the quired data
for row in rows:
    print(row)

(1, 'Yash', 20, 'A')
(2, 'Yash', 20, 'A')
(3, 'Ritam', 21, 'A+')
(4, 'Sayan', 22, 'AA')
(5, 'Yash', 20, 'A')
(6, 'Ritam', 21, 'A+')
(7, 'Sayan', 22, 'AA')
(8, 'Yash', 20, 'A')
(9, 'Ritam', 21, 'A+')
(10, 'Sayan', 22, 'AA')

In [ ]:
# Delete a row from the table
cursor.execute('''
Delete from Students where id=1,
''')
# Commit the Changes
Connection.commit()

In [17]:
# Query the data from the table
cursor.execute('Select * from Students')
rows=cursor.fetchall()

# Print the quired data
for row in rows:
    print(row)

(2, 'Yash', 20, 'A')
(3, 'Ritam', 21, 'A+')
(4, 'Sayan', 22, 'AA')
(5, 'Yash', 20, 'A')
(6, 'Ritam', 21, 'A+')
(7, 'Sayan', 22, 'AA')
(8, 'Yash', 20, 'A')
(9, 'Ritam', 21, 'A+')
(10, 'Sayan', 22, 'AA')

In [19]:
# Delete a multiple row from the table
cursor.execute('''
Delete from Students where id=5
''')
# Commit the Changes
Connection.commit()

In [24]:
# Delete a multiple row from the table
cursor.execute("""
Delete from Students where id IN (6, 7, 8, 9, 10)
""")
# Commit the Changes
Connection.commit()

In [25]:
# Query the data from the table
cursor.execute('Select * from Students')
rows=cursor.fetchall()

# Print the quired data
for row in rows:
    print(row)

(2, 'Yash', 20, 'A')
(3, 'Ritam', 21, 'A+')
(4, 'Sayan', 22, 'AA')

In [33]:
# Upade a data in the table
cursor.execute("""
UPDATE Students
SET age=21, id=1
WHERE nam="Yash"
""")

Connection.commit()

In [34]:
# Query the data from the table
cursor.execute('Select * from Students')
rows=cursor.fetchall()

# Print the quired data
for row in rows:
    print(row)

(1, 'Yash', 21, 'A')
(3, 'Ritam', 21, 'A+')
(4, 'Sayan', 22, 'AA')